{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2016/bdt/style.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2016/bdt/jquery.bdt.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/bdt/jquery.sortelements.js" type="text/javascript"></script>
<script src="https://bootstraptema.ru/plugins/2016/bdt/jquery.bdt.min.js" type="text/javascript"></script>

<div class="container">
 <div class="row">
 <div class="box clearfix">
<h2 class="text-center">Таблица с поиском и переключением</h2>
<hr />
 <table class="table table-hover" id="bootstrap-table">
 <thead>
 <tr>
 <th>#ID</th>
 <th>ФИО</th>
  <th>Номер телефона</th>
  <th>E-mail</th>
 </tr>
 </thead>
  {% for users in users %}
 <tbody>
 <tr>
 <td>{{users.id}}</td>
 <td>{{users}}</td>
   <td>{{users.phone}}</td>
   <td>{{users.email}}</td>
 </tr>
 </tbody>
  {% endfor %}
 </table>

</div></div></div>

<script>
 $(document).ready( function () {
 $('#bootstrap-table').bdt();
 });
</script>

{% endblock %}

