<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

body {

  background-color: #AFEEEE;

}
.postblock{
    display: flex;
      justify-content: center;

}

</style>
<body >
<div class="postblock">
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p ><button type="submit">Регистрация</button></p>
    </form>
</div>
</body>
</html>